# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


.dropbox
*.ini
*.obj
*.pyc

#auto-populated files/folders
generic/solver_options.*
accelerInt.conf
release/
debug/
.sconsign.dblite

#this is populated by pyJac, hence we don't want to commit anything
mechanism/

#ignore SConscripts in examples
examples/*/Sconscript

#ignore pyJac example output
examples/pyJac/out/

SConscript

# ignore command compile for linting
compile_commands.json

# ignore the compiled cython files
pyccelerInt_*.cpp
