# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


.dropbox
*.ini
*.obj
Hochbruck/
derivations/
validation/
performance/
StiffnessPrediction/
*.pyc

#this is populated by pyJac, hence we don't want to commit anything
mechanism/
